    body {
        background-image: url('../image/bg.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        margin: 0;
    }
    
    button {
        border: none;
        font-family: Microsoft JhengHei;
        font-size: 2vmax;
        background-color: transparent;
        cursor: pointer;
    }